body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-image: url(images/cool-background.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* nav styling */

.navigation-wrapper {
    background-color: #396E79;
    /* background-color: #A45A38; */
    /* height of the navigation-wrapper increases to 190px */
    height: 190px;
    /* flexbox this is the container */
    display: flex;
    /* evenly distribute the columns so that there is 3 columns left center and right*/
    justify-content: space-between;
    /* vertically aligns the items in the center */
    align-items: center;
    /* padding for top and bottom is 60px and left and right 100px */
    padding: 60px 100px;
}

/* left column styling */

/* .navigation-wrapper > .left-column {
    display: flex;
    align-items: center;
} */

.links-wrapper > .nav-link a {
    /* color of nav links changed to white from blue */
    color: white;
}

/* center column styling */

.navigation-wrapper > .center-column {
    display: grid;
    /* want 1 column so only 1fr  */
    grid-template-columns: 1fr;
    /* gap between the img and the nav links */
    grid-gap: 42px;
    /* not enough width for links to be spaced out hence change width of center
    container to 500px */
    width: 500px;
}

.navigation-wrapper > .center-column > .banner-image {
    display: flex;
    /* centers the img as when the above is done it is no longer centered */
    justify-content: center;
}

.navigation-wrapper > .center-column > .banner-image img {
    /* original width was 376px changed to 210px */
    width: 210px;
}

.links-wrapper {
    /* links are stacked ontop of each other 
    setting display to flex will put them into a line but not spaced out */
    display: flex;
    /* done to give space between each link */
    justify-content: space-between;
    /* vertically centers the nav links */
    align-items: center;
}

.links-wrapper > .nav-link {
    /* width of the nav-link container made it all standard 85px */
    width: 110px;
    /* center in the nav-link container */
    text-align: center;
}

.links-wrapper > .nav-link a {
    /* font color of the links is white */
    color: white;
    /* no underline of the nav links */
    text-decoration: none;
    /* how long the transition effect will take to transform */
    transition: 0.5s;
}

.links-wrapper > .nav-link a:hover {
    /* when the mouse hovers over the nav links the color changes */
    color: #cea135;
    /* when the mouse hovers over the nav links the spacing of the letters change by 1px */
    letter-spacing: 1px;
}


/* product_details.html page content styling */

.page-container{
    /* felx box used to center the container */
    display: flex;
    /* centers the container in the middle of the page */
    justify-content: center;
    /* was no space beween the nav bar and the container hence margin top of 40px */
    margin-top: 40px;
    
  
}

.page-container > .content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 716.475px;
}




 
.page-container > .content-wrapper > .form-wrapper {
    /* want to have 2 columns first column for the labels second column for the inout boxes hence grid layout */
    display: grid;
    /* 2 colums  */
    grid-template-columns: 1fr 1fr;
    /* gap between each row is 40px */
    grid-gap: 40px;
    /* column gap is 10px */
    grid-column-gap: 5px;

}

.page-container > .content-wrapper > .form-wrapper > input, textarea {
    /* og height of the input and textarea boxes was too small hence increased to 44px */
    height: 44px;
    width: 259.6px;
    /* font size was too small so increased */
    font-size: 1.1em;
}

.page-container > .content-wrapper > .form-wrapper > label {
    /* font size was too small hence increased */
    font-size: 1.1em;
    /* used flex box to vertically center the labels */
    display: flex;
    /* vertically centralising */
    align-items: center;
    letter-spacing: 1px;
}


.page-container > .content-wrapper > .submit-button {
    /* had to put submit button in its own container and center it */
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-container > .content-wrapper > .submit-button > input {
    /* made the submit button the same size as previously */
    width: 200.6px;
    height: 44px;
    /* increase font size */
    font-size: 1.1em;
    /* need space between the form and the submit button */
    margin-top: 40px;
    /* didnt want the submit button to be at the very end of the page or footer */
    margin-bottom: 40px;
}

/* test_start styling */
.page-container > .content-wrapper > .form-wrapper > .sample-boxes > input {
    height: 44px;
    width: 40px;
    font-size: 1em;
}

.page-container > .content-wrapper > .form-wrapper > .sample-boxes2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.page-container > .content-wrapper > .form-wrapper > .sample-boxes2 > h3{
    text-align: center;

}

.page-container > .content-wrapper > .form-wrapper > .sample-boxes2 > input{
    height: 44px;
    width: 100px;
    font-size: 1em;
}



/* sample sheet styling */
.page-container > .sample-info > table{
    font-family: sans-serif;
    width: 100%;
    border-collapse: separate;
    border-spacing: 40px 0px;
}

.page-container > .sample-info{
    width: 75%;
}

.page-container > .test-table {
    width: 90%;
}


.page-container > .sample-info > tr {
    background-color: #f8f8f8;
}

.sam{
    background-color: #1b1e24;
    color: #D5DDE5;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 100;
    padding: 10px;
    width: 200px;
    
}

.sinfo{
    
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.sinfo:nth-child(odd) {
    background-color: #EBEBEB;
}

.sinfo:nth-child(even) {
    background-color: #f8f8f8;
}

.info-row{
    border: 1px solid black;
}


.test-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 100%;
}

.test-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.test-section > .test-form > table {
    width: 90%;
    font-family: sans-serif;
}

.test-header{
    background-color: #1b1e24;
    color: #D5DDE5;
    font-size: 1.3em;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 2px;

}

.test-data{
    background-color: white;
    font-size: 20px;
    padding: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;

}

.test-input{
    height: 40px;
    width: 164px;
    text-align: center;
    font-size: 20px;
    
}

.sample-submit{
    width: 200.6px;
    height: 44px;
    font-size: 1.1em;
    margin-top: 40px;
    margin-bottom: 40px;

}




/* footer styling */

footer{
    height: 100px;
    background-color: #396E79;
    /* background-color: #A45A38; */
    display: flex;
    justify-content: center;
    align-items: center;
}

